a {
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: none;
    &:hover {
        color: var(--primary-dark-color);
        text-decoration: underline;
    }
    &:active {
        color: var(--primary-darken-color);
    }
}
